{
  "env": {
    "jquery": true,
    "browser": true,
    "es2020": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-underscore-dangle": "off",
    "import/extensions": "off",
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": ["getData", "_updateObject"]
      }
    ]
  }
}
