<div class="form-group">
  <label>{{localize "GMSCR.entitySheet.Label"}}</label>
  <select name="gmScreenSheetClass">
    {{selectOptions sheetClasses selected=gmScreenSheetClass blank=blankLabel}}
  </select>
  <p class="notes">{{localize "GMSCR.entitySheet.Hint"}}</p>
</div>